/* Profile */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 50px;
  background-color: #f5eee6;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px 100px;
}

.profile-text {
  flex: 1;
  text-align: left;
}

.profile-img {
  flex: 0 0 180px;
  text-align: right;
}

.profile-img img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Qualifications */

.Qualifications {
    background-color: #f5eee6;
    padding: 50px; 
}

.Qualifications h1, .Personal-Data h1  {
    padding-bottom: 50px;
}
.Qualification {
    display: flex;
    justify-content:space-evenly;
    padding: 0px;
}
/* Personal Data */
.Personal-Data {
    background-color: #f5eee6;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 100px; 
    }

  
.Personal{
  column-count: 2;
  column-gap: 40px;
}


@media (max-width: 600px) {
  .profile {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .profile-text p {
    justify-content: center;
    text-align: center;
  }

  .profile-img {
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 0;
  }

  .profile-img img {
  width: 160px;
  }

  .Qualifications h1, .Personal-Data h1  {
    text-align: center;
    padding-bottom: 50px;
    
    }


    .Qualifications h1 {
        font-size: 24px;
    }

  .Qualification {
    flex-direction: column;
    gap: 30px;
  }
  .Personal {
    column-count: 1;
    justify-content: center;
  }
}
